body {
    font-weight: 300;
    line-height: 160%;
    margin: 0;
    padding: 0;
    background-color: #eaeaea !important;
    text-align: justify;
    font-family: '微软雅黑','PingFang SC','Droidsansfallback';
    
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

p {
    font-size: 16px;
    color: #231f20;
    width: 95vw;
    margin: 10px auto !important;
}

.mobile{display: block; }
.pc{display: none; }

.pop_container{ position: absolute;top:0; background-color: #000000;z-index: 1; width:100%;height:100%;}
.pop { 
    position: relative; 
    width: 100vw;
    margin: 20vh 0;
    animation: popout 1s ease;
    -webkit-animation: popout 1s ease;}
.pop1 { position: absolute; top: 30%; right: 15%; }
.pop2 { position: absolute; bottom: 35%; left: 12%; }
.pop1,.pop2 { color: #000000; font-weight: 400; font-size: 18px;}
.pop img {
    width: 100%;
}
@keyframes popout {
    from{transform:scale(0)}
    80%{transform:scale(1.2)}
    to{transform:scale(1)}
}
@-webkit-keyframes popout {
    from{-webkit-transform:scale(0)}
    80%{-webkit-transform:scale(1.2)}
    to{-webkit-transform:scale(1)}
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cover_container {
    width: 100vw;
    height: 49vw;
}

.cover {
    min-height: 100vh; 
    height: 100vh;
    width: 100vw;
    margin: auto;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50vw, -50vh);
    object-fit: cover;
}



/*project*/

.head{
    position: relative;
    width: 100vw;
    height: 250px;
}


.head div {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 50px;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
}


.collapsible {
  color: #a4896d;
  cursor: pointer;
  padding: 10px 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  background-color: #000000;
  

}
.content p{
    width: 90vw;
    margin: 0 auto;
    font-size: 14px;
}
.active, .collapsible:hover {
  background-color: #333;
}
.border {
    border-bottom: #b6b6b6 .5px solid
}
.border_no{
    border-bottom: none;
}

.collapsible:after {
  content: '\002B';
  color: #a4896d;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  font-size:22px;
}

.active:after {
    content: "\2212";
}

.content {
    /*padding: 0 18px;*/
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    
}
.content:first-of-type {
    /*overflow: auto;*/
    /*max-height: null;*/
}

h1 {
    position: absolute;
    /*top: 100px;*/
    bottom: 0;
    width: 100vw;
    text-align: center;
    color: #8e793e;
    font-size: 60px;
    margin-bottom: 50px !important;
}
h2 {
    font-size: 18px;
    font-weight: 400;
    color: #cb9c62;
    margin-left: 2.5vw !important;
    margin-top: 50px !important;
}
.quote{position: relative; width: 95vw; color: #b5b5b5; text-align: left; margin: 10px auto;}
.quote_l,.quote_r{ position: absolute; }
.quote_l { top:0; left: 0;}
.quote_r { bottom: 0; right: 0;}
.quote p{ width: 85vw; }
.part_head {
    width: 95vw;
    margin: 40px auto;
}
.info, .info_big, .info_small{
    width: 100vw;
    margin: 40px 0;
}

/*正文开始*
.part_head{
    margin-top: 80px;
    margin-bottom: 40px;
}
.part_head p {
    line-height: 240%;
}
.head_border {
    border-top: #ca9b62 6px solid;
    width: 30px;
    margin-left: 0 !important;
}
/*p.head_border { margin-left: 0; }*/
.head_p{
    margin-top: 20px;
    color: #ad974f;
}
.head_text{
    font-size: 34px;
    font-weight: 400;
}
.head_num{
    float: right;
    font-size: 16px;
    font-weight: 400;
}


.headline {
    font-size: 22px;
    font-weight: 500;
    color: #cb9c62;
}
.img_note {font-size: 12px;  width: 95vw;margin:5px auto;}
.end p { font-weight: 300; font-style: italic;}
.front_part p.first { border-top: #cb9c62 1px solid; width: 100%; }



.credits{width: 100%; float: left; position: relative; text-align: center; line-height: 18px; padding-bottom: 40px; padding-top: 30px;}
.credits p{width: 95%; margin: 0 auto; padding-bottom: 7px; font-size: 12px; font-weight: 300; color:#999;}
.credits p b{font-weight: 900}
.credits p.first{border-top: #999 1px solid; height: 30px; width: 100%;}



@media screen and (min-width: 800px){
    .mobile-only{display: none;}
    .pc-only{display: block;}
    .mobile{display: none;}
    .pc{display: block;}
    .credits p{ font-size: 14px; font-weight: 300; }
    .pop_container{height:100%;}
    .pop { 
    position: relative; 
    width: 100vw;
    margin: 20vh 0;
    width: 500px;
    margin: 20vh calc(50vw - 250px);
    animation: popout 1s ease;
    -webkit-animation: popout 1s ease;}
    

    .head { height: 23vw; }
    .head video { width: 100vw; }

    .update{ width: 600px; }
    .content p{ width: 550px; }
    h1 { bottom:0; font-size: 72px; }
    h2 { margin-left: calc(50vw - 380px ) !important }
    p{ width: 600px; }
    .quote{ width: 600px; }
    .quote p { width: 400px; }
    .part_head, .info{
        width: 600px;
        margin: 40px 0;
    }
    .part_head{
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .info_big {
        width: 1000px;
        margin: 40px 0;
    }
    .info_small {
        width: 400px;
        margin: 40px 0;
    }
   
    .back{ top:0; }
    /*photo*/
    .left,.right{ float: left; height: 380px; }
    .left { width: 60%; }
    .right { width: 40%; position: relative;}
    .right_content{position: absolute; bottom: 0; width:90%;}
    .right span{ font-size: 12px; color: #a3886d;}
    .img_note {text-align: right; width: 80%; margin-bottom: 20px; margin-left: 0;}
}





